@font-face {
    font-family: public-sans;
    src: url(../assets/Public_Sans/PublicSans-VariableFont_wght.ttf);
  }


  .image {
    width: 20vw;
    height: auto;
    display: block;
    margin: 0 auto;
  }